= semantic_form_for @getaway_search, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :fly_from, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :fly_from, :class => 'text-field form-control'
  .form-group
    = f.label :price_limit, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :price_limit, :class => 'text-field form-control'
  .form-group
    = f.label :leave_on, :class => 'control-label col-md-2'
    .col-md-10
      = f.input :leave_on, as: :select, collection: GetawaySearch::VALID_LEAVE_ON_VALUES.map{ |k,v| [v, k.to_s] }, :class => 'text-field form-control', label: false, allow_blank: false
  .form-group
    = f.label :return_on, :class => 'control-label col-md-2'
    .col-md-10
      = f.input :return_on, as: :select, collection: GetawaySearch::VALID_RETURN_ON_VALUES.map{ |k,v| [v, k.to_s] }, :class => 'text-field form-control', label: false, allow_blank: false
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit "Find a weekend getaway!", :class => 'btn btn-primary'
      - unless local_assigns[:hide_cancel]
        = link_to t('.cancel', :default => t("helpers.links.cancel")), getaway_searches_path, :class => 'btn btn-default'