= semantic_form_for @getaway_search, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :fly_from, :class => 'control-label col-md-2'
    .col-md-10
      - fly_from_options = GetawaySearch::ORIGINS.map{ |origin| [GetawaySearch::AIRPORT_NAMES[origin], origin] }.sort_by(&:first)
      =# f.text_field :fly_from, :class => 'text-field form-control'
      = f.input :fly_from, :as => :select, :collection => fly_from_options, :class => 'text-field form-control', label: false, include_blank: false
  .form-group
    = f.label :price_limit, :class => 'control-label col-md-2'
    .col-md-10
      - select_options = [100, 200, 300, 500, 700, 1000].map{ |opt| [money_format(opt), opt] }
      = f.input :price_limit, :as => :select, :collection => select_options, :class => 'text-field form-control', label: false, include_blank: false
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit "Find a weekend getaway!", :class => 'btn btn-primary'
      - unless local_assigns[:hide_cancel]
        = link_to t('.cancel', :default => t("helpers.links.cancel")), getaway_searches_path, :class => 'btn btn-default'