- model_class = GetawaySearch
.page-header
  %h1= t '.title', :default => GetawaySearch

.lead
  = "Fly From: #{@getaway_search.fly_from}"
.lead
  = "Price Limit: #{money_format(@getaway_search.price_limit)}"
.form-group
  = link_to t('.back', :default => t("helpers.links.back")), |
    getaway_searches_path, :class => 'btn btn-default'       |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")),               |
    edit_getaway_search_path(@getaway_search), :class => 'btn btn-default' |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    getaway_search_path(@getaway_search),                                                                        |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |

.trip-options
  - if @getaway_search.search_complete?
    %h2 Loading Results....
  - else
    %h2 Search in Progress!  Results will show here when search is complete.


:javascript
  var refreshIntervalId
  $(document).ready(function(){
    refreshIntervalId = setInterval(doAjaxCall, 3000);
  });

  function doAjaxCall(){
    var result = false;
    $.ajax({
      url: "#{@getaway_search.id}.json"
    }).done(function(json){
      if (json["search_complete"]) {
        clearInterval(refreshIntervalId);
        getTripOptionsListHtml();
      }
    });
  }

  function getTripOptionsListHtml(){
    $.ajax({
      url: "#{@getaway_search.id}/render_trip_options_list"
    }).done(function(html){
      $(".trip-options").html(html);
    });
  }