-# TODO: JQuery table sorter
%table.table.table-hover.table-bordered
  %tbody
    - local_assigns[:trip_options].each do |trip_option|
      %tr
        %td= trip_option.id
        %td= trip_option.fly_to
        %td= "$#{'%.02f' % trip_option.price}"
        %td
          = trip_option.outbound_itinerary.join(" ✈ ")
          %br
          = trip_option.inbound_itinerary.join(" ✈ ")
        %td
          = "Depart: #{trip_option.leave_at.strftime('%A %B %e, %r')}"
        %td
          = "Return: #{trip_option.return_at.strftime('%A %B %e, %r')}"