-# TODO: JQuery table sorter
%table.table.table-hover.table-bordered
  %tbody
    - local_assigns[:trip_options].each do |trip_option|
      - outbound_legs = trip_option.outbound_legs
      - inbound_legs = trip_option.inbound_legs
      %tr
        %td
          -#%p.lead{style: "font-weight: bold;"}
          %p.lead.pull-right.green
            = "$#{'%.02f' % trip_option.price}"
          %h3.margin-top-zero
            = trip_option.destination_leg.destination

          = trip_option.leave_at.strftime('%A, %B %e') + " to " + trip_option.return_at.strftime('%A, %B %e')

        %td
          - outbound_times = "Depart " + outbound_legs.first.local_departure_time.strftime('%l:%M %P') + ", Arrive " + outbound_legs.last.local_arrival_time.strftime('%l:%M %P')
          = ("<b>" + trip_option.outbound_itinerary.join(" ✈ ") + "</b>" + " [" + outbound_times + "]").html_safe
          %br
          - inbound_times = "Depart " + inbound_legs.first.local_departure_time.strftime('%l:%M %P') + ", Arrive " + inbound_legs.last.local_arrival_time.strftime('%l:%M %P')
          = ("<b>" + trip_option.inbound_itinerary.join(" ✈ ") + "</b>" + " [" + inbound_times + "]").html_safe

